.chat-input {
    
    position: absolute;
    bottom: 0;
    left: 0;
    /*
        if the father container's position is relative
        we can use the absolute position for the son element
    
    */
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #383a3f;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); 
 }

  .chat-input textarea,input{
    background-color: #383a3f;
    color: aliceblue;
    font-weight: bold;
  }
  .chat-input button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer; 
    padding: 8px; 
  }
  
  .chat-input button:hover {
    background-color: #45a049; 
  }